* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    padding-top: 200px;
    padding-left: 100px;
    width: 100vw;
    background-color: #4f685a;
  }
  

  .second-logo-cont {
    text-align: center;
    margin-right: 20px;
    padding-bottom: 50px;
  }
  

  .nihar-small-logo {
    width: 200px; 
    height: auto;
  }
  
  .second-info {
    background-color: #6cdc77; 
    padding: 20px;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .second-info h1 {
    font-size: 24px;
    color: #1d6230;
    line-height: 1.4;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .second-info-p {
    font-size: 18px;
    color: #0d3d14;
  }
  .masscolor-2{
    color: #1d6230
  }