body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  .table-container {
    width: 80%; /* Adjust this value as needed */
    margin: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #34c342;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #8da183;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #bcf4ad;
  }
  