@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Fira+Code&display=swap');

.login-container {
    display: flex;
    height: 100vh;
    background-color: black;
  }
  
  .left-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-half {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loginlogo {
    height: 50vw;
  }
  
  .logwelcome {
    font-family: 'Fira Code', monospace;
    font-size: 40px;
    text-align: center;
  }
  .logbut {
    background-color: #343232; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px; 
    cursor: pointer; 
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px; 
  }
  
  .logbut:hover {
    background-color: #4caf50; 
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }

  .inputformm {
    width: 200px;
    height: 30px;
    background-color: black;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #7eff00;
    outline: none; 
    transition: border-color 0.3s; 
  }

  .massgreen {
    color: #7eff00;
  }
  
  .inputformm:focus {
    border-color: #7eff00; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  
  .headinglogin {
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold; 
    padding-right: 20px; 
    letter-spacing: 1px;
  }
  .lb-cont{
    text-align: center;
  }
  .hl-2 {
    padding-left: 35px;
  }
  
  

  @media (max-width: 768px) {
    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
  
    .left-half {
      order: 1; 
    }
  
    .right-half {
      order: 2; 
    }
  }
  